USE [QuanLySinhVien]
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 12/17/2019 19:50:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHOA](
	[MAKHOA] [char](8) NOT NULL,
	[TENKHOA] [nvarchar](20) NOT NULL,
	[NGAYTHANHLAP] [datetime] NULL,
	[NOIDUNGDAOTAO] [nvarchar](20) NULL,
	[GHICHU] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKHOA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 12/17/2019 19:50:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MAMH] [int] NOT NULL,
	[TENMH] [nvarchar](20) NOT NULL,
	[NOIDUNGMH] [nvarchar](200) NULL,
	[MAKHOA] [char](8) NULL,
	[SOTINCHI] [int] NULL,
	[SOTIET] [int] NULL,
	[GHICHU] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 12/17/2019 19:50:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [char](8) NOT NULL,
	[TENLOP] [nvarchar](20) NOT NULL,
	[KHOAHOC] [char](4) NULL,
	[GVCN] [nvarchar](50) NULL,
	[MAKHOA] [char](8) NULL,
	[CHICHU] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 12/17/2019 19:50:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MASV] [char](10) NOT NULL,
	[HOSV] [nvarchar](50) NOT NULL,
	[TENSV] [nvarchar](20) NOT NULL,
	[GIOITINH] [nvarchar](4) NULL,
	[NGAYSINH] [datetime] NULL,
	[QUEQUAN] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[MALOP] [char](8) NULL,
	[GHICHU] [nvarchar](max) NULL,
	[SOCMND] [char](9) NULL,
PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [UN_CMND] UNIQUE NONCLUSTERED 
(
	[SOCMND] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOC]    Script Date: 12/17/2019 19:50:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOC](
	[MASV] [char](10) NOT NULL,
	[MAMH] [int] NOT NULL,
	[NGAYDANGKI] [datetime] NOT NULL,
	[NGAYTHI] [datetime] NULL,
	[DIEMTB] [float] NULL,
	[GHICHU] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[MAMH] ASC,
	[NGAYDANGKI] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Default [DF__HOC__NGAYDANGKI__182C9B23]    Script Date: 12/17/2019 19:50:50 ******/
ALTER TABLE [dbo].[HOC] ADD  DEFAULT (getdate()) FOR [NGAYDANGKI]
GO
/****** Object:  Check [CK__HOC__DIEMTB__15502E78]    Script Date: 12/17/2019 19:50:50 ******/
ALTER TABLE [dbo].[HOC]  WITH CHECK ADD CHECK  (([DIEMTB]>=(0) AND [DIEMTB]<=(10)))
GO
/****** Object:  Check [CK__HOC__NGAYTHI__173876EA]    Script Date: 12/17/2019 19:50:50 ******/
ALTER TABLE [dbo].[HOC]  WITH CHECK ADD CHECK  (([NGAYTHI]>getdate()))
GO
/****** Object:  ForeignKey [FK__HOC__MAMH__145C0A3F]    Script Date: 12/17/2019 19:50:50 ******/
ALTER TABLE [dbo].[HOC]  WITH CHECK ADD FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
GO
/****** Object:  ForeignKey [FK__HOC__MASV__1367E606]    Script Date: 12/17/2019 19:50:50 ******/
ALTER TABLE [dbo].[HOC]  WITH CHECK ADD FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
GO
/****** Object:  ForeignKey [FK_KHOA_LOP]    Script Date: 12/17/2019 19:50:50 ******/
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_KHOA_LOP] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_KHOA_LOP]
GO
/****** Object:  ForeignKey [FK_MONHOC_KHOA]    Script Date: 12/17/2019 19:50:50 ******/
ALTER TABLE [dbo].[MONHOC]  WITH CHECK ADD  CONSTRAINT [FK_MONHOC_KHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[MONHOC] CHECK CONSTRAINT [FK_MONHOC_KHOA]
GO
/****** Object:  ForeignKey [FK_SV_LOP]    Script Date: 12/17/2019 19:50:50 ******/
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SV_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SV_LOP]
GO
