--Khoa(MãKhoa(Char,8), TênKhoa(NVarchar,20, not null), NgàyThànhLập(DateTime), NộiDungĐàoTạo(NVarchar, 200), GhiChú(NVarchar, max) )

CREATE TABLE KHOA(
	MAKHOA CHAR(8) PRIMARY KEY,
	TENKHOA NVarchar(20) not null,
	NGAYTHANHLAP DateTime, 
	NOIDUNGDAOTAO NVarchar(20),
	GHICHU NVarchar (max)
);
CREATE TABLE LOP(
	MALOP Char(8) PRIMARY KEY, 
	TENLOP NVarchar(20) not null,
	KHOAHOC Char(4), 
	GVCN NVarchar(50),
	MAKHOA Char(8), 
	CHICHU NVarchar(max)
);

ALTER TABLE LOP 
ADD CONSTRAINT FK_KHOA_LOP 
FOREIGN KEY (MAKHOA) REFERENCES KHOA(MAKHOA)


CREATE TABLE SINHVIEN(
	MASV Char(10) PRIMARY KEY, 
	HOSV NVarchar(50) not null,
	TENSV NVarchar(20) not null, 
	GIOITINH NVarchar(4), 
	NGAYSINH DateTime, 
	QUEQUAN NVarchar(50), 
	DIACHI NVarchar(100), 
	MALOP Char(8),
	GHICHU NVarchar(max) 
);

ALTER TABLE SINHVIEN
ADD CONSTRAINT FK_SV_LOP
FOREIGN KEY (MALOP) REFERENCES LOP(MALOP)



CREATE TABLE MONHOC(
	MAMH int PRIMARY KEY, 
	TENMH NVarchar(20) not null, 
	NOIDUNGMH NVarchar(200), 
	MAKHOA Char(8), 
	SOTINCHI int, 
	SOTIET int, 
	GHICHU NVarchar(max) 
)


ALTER TABLE MONHOC
ADD CONSTRAINT FK_MONHOC_KHOA
FOREIGN KEY (MAKHOA) REFERENCES KHOA(MAKHOA)



CREATE TABLE HOC(
	MASV Char(10), 
	MAMH Int, 
	NGAYDANGKI DateTime, 
	NGAYTHI DateTime, 
	DIEMTB float, 
	GHICHU NVarchar(max),
	PRIMARY KEY (MASV,MAMH,NGAYDANGKI),
	FOREIGN KEY (MASV) REFERENCES SINHVIEN,
	FOREIGN KEY (MAMH) REFERENCES MONHOC,
)


ALTER TABLE SINHVIEN 
ADD SOCMND CHAR(9)

ALTER TABLE SINHVIEN 
ADD DTDD CHAR(10)

ALTER TABLE SINHVIEN 
ALTER COLUMN DTDD CHAR(11)

ALTER TABLE SINHVIEN
DROP COLUMN DTDD

ALTER TABLE HOC
ADD CHECK (DIEMTB BETWEEN 0 AND 10);

ALTER TABLE HOC
ADD CHECK (NGAYTHI > GETDATE())


ALTER TABLE HOC 
ADD DEFAULT (GETDATE()) FOR NGAYDANGKI 




ALTER TABLE SINHVIEN
ADD CONSTRAINT UN_CMND
UNIQUE (SOCMND);


